<script src="https://kit.fontawesome.com/bc0aa4a446.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://abrowse-search-js-arviytofficial.netlify.app/index.css">
<center>
    <i class="fas fa-spinner"></i><br /><br /><font>Deleting file "database.db"</font>
</center>
<style>
    center{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    i{
        color: #ff0000;
        transition: 0.5s;
        font-size: 50px;
        animation: rotate 1s infinite;
    }
    @keyframes rotate{
        0%{transform: rotate(0deg);}
        100%{transform: rotate(360deg);}
    }
    font{
        font-size: 15px;
    }
</style>
<script>
setTimeout(()=>{
    window.location.replace("/create-database")
}, 1000)
</script>